.centerHeader {
  text-align: center;
}
#loginDiv {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.imgDiv {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
} 
.flexImgs {
  width: 350px;
  height: 350px;
  transition: 300ms;
  border-radius: 50px;
}
.flexImgs:hover {
  transform: scale(1.05);
  opacity: 0.8;
  transition: 300ms;
  cursor: pointer;
}
.flexCol {
  display: flex;
  flex-direction: column;
  text-align: center;
}